body {
    margin: 0;
    background-color: #535F52;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    color: #F5F5F5;
    text-align: center;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    color: #F5F5F5;
    text-align: center;
}

h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    color: #F5F5F5;
    text-align: center;
}

p {
    font-family: 'Fauna One', serif;
    font-size: 1rem;
    color: #F5F5F5;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    font-family: 'Fauna One', serif;
    font-size: 20px;
    color: #F5F5F5;
    border: 2px solid #F5F5F5;
    padding: 10px;
    text-decoration: none;
    margin: 1rem;
    text-align: center;
    flex-grow: 3;
}

table {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
    border-radius: 5px;
}

table,
th,
td,
tr {
    margin: 4rem auto;
    border: 2px solid #F5F5F5;
    padding: 1rem;
    text-align: left;
}

td a {
    text-decoration: none;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
}

.about-text p {
    margin: 4rem auto;
    max-width: 83%;
    text-align: center;
    padding: 1rem;
    color: #F5F5F5;
    border: 2px solid #F5F5F5;
    border-radius: 5px;
}

.btn {
    background-color: #7ABFCF;
    color: #F5F5F5;
    border: 2px solid #F5F5F5;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 1rem;
    text-align: center;
    font-family: 'Fauna One', serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 14rem;
}

.btn a {
    text-decoration: none;
    color: inherit;
}

.divider {
    border: 1px solid #F5F5F5;
    margin: 5rem auto;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    border: 2px solid #F5F5F5;
    border-radius: 5px;
    padding: 1rem;
    max-width: 83%;
}

.contact p {
    text-align: center;
}

.team-container {
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}



.employee-img {
    width: 25rem;
}

.employee-jonas {
    padding: 3rem;
    text-align: center;
    border: 2px solid #F5F5F5;
    border-radius: 5px;
    max-width: 25rem;
}

.employee-emma {
    padding: 3em;
    text-align: center;
    border: 2px solid #F5F5F5;
    border-radius: 5px;
    max-width: 25rem;
}



/*.image1 {
    z-index: 1;
    opacity: 0.8;
 


.image2 {
    z-index: 2;
   
    left: 50px;
   
    top: 50px;
}

.image3 {
    z-index: 3;
    opacity: 0.8;
    
    left: 100px;
   
    top: 100px;
   
    
}*/